body {
  background-color: #d9dad4 !important;
}

.top-color{
  top: 0;
  left: 0;
  position: fixed;
  background-color: #4682B4;
  width: 100%;
  height: 150px;
}

.chat{
  padding: 50px;
}

.left-box{
  height: 600px;
  max-height: 800px;
  background-color: white;
}

.right-box{
  background-color: #eeeeee;
  height: 600px;
  max-height: 800px;
  position: relative;
}

.pp{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.header{
  border: 1px solid #e0e0e0;
  -webkit-flex: none;
  flex: none;
  height: 59px;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  z-index: 1000;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  background-color: #eeeeee;
  padding: 10px 16px;
}

.login {
  padding: 50px !important;
}

.form-error {
  color: red;
}

.hide{
  display: none !important;
}

.avatar{
  position: absolute;
  top: 5px;
  left: 10px;
}

.relative{
  position: relative;
}
.user-name{
  position: absolute;
  top: 20px;
  left: 70px;
}

#messages-box {
  width: 100%;
  height: 480px;
  background-color: #B0C4DE;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 25px;
}

.form-input-box{
  background-color: #eeeeee;
}

.sender-box {
  width: 100%;
  height: 480px;
  background-color: white;
  overflow-y: auto;
}

.input-send-container{
  padding: 12px;
}

.div-message {
  position: relative;
  background: #f3f3f3;
  border-radius: .4em;
  min-height: 50px;
  padding: 5px;
  margin-bottom: 15px;
  width: 280px;
}

.div-message:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #f3f3f3;
  border-bottom: 0;
  border-right: 0;
  margin-left: -6px;
  margin-bottom: -12px;
}

#signin-btn{
  margin-left: 10px;
}

.footer-message{
  text-align: center;
}

.user-title-list{
  text-align: center; 
  margin-top: 10px;
}
.atc{
  text-align: center;
}
.btn-add-user{
  position: absolute;
  bottom: 80px;
  right: 20px;
}