<form id="form-signin" _lpchecked="1">
  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
  <label for="name" class="sr-only">Name</label>
  <input type="text" id="name-signin" class="form-control" placeholder="Name" required="" autofocus="" value="Cesar">
  <label for="username" class="sr-only">Email address</label>
  <input type="email" id="username-signin" class="form-control" placeholder="Email address" required="" autofocus="" value="cesar@local.com">
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password-signin" class="form-control" placeholder="Password" required="" value="123123123">
  <button class="btn btn-lg btn-primary btn-block">Sign in</button>
  <p class="mt-5 mb-3 text-muted">© OCSL 2018</p>
</form>
